<?xml version="1.0" encoding="utf-8"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <section name="RedisConfig" type="RedisDemo.RedisConfigInfo, RedisDemo" />
  </configSections>
  <appSettings>
    <!--Redis 服务端地址-->
    <add key="RedisServerIP" value="127.0.0.1:6379"/>
    <!--Redis 连接池大小-->
    <add key="RedisPoolSize" value="30"/>
    <!--Redis 连接池超时时长-->
    <add key="RedisPoolTimeOutSeconds" value="5"/>
    <!--Memcached 服务端地址-->
    <add key="MemcachedServerIP" value="127.0.0.1:11211"/>
    <!--Metrics 服务端地址-->
    <!--<add key="Metrics.ServiceReportUrl" value="http://114.215.169.82:8086/write?db=mydb u=test,p=test@123,r=influxdb,interval=10" />-->
    <add key="Metrics.ServiceReportUrl" value="http://127.0.0.1:8086/write?db=mydb u=root,p=root,r=influxdb,interval=10" />
  </appSettings>
  <RedisConfig WriteServerList="127.0.0.1:6379" ReadServerList="127.0.0.1:6379" MaxWritePoolSize="60" MaxReadPoolSize="60" AutoStart="true" LocalCacheTime="180" RecordeLog="false">
  </RedisConfig>
  <connectionStrings>
    <!--SqlServerDemo-->
    <add name="SqlServerDemo" connectionString="Data Source=JST-HY;Initial Catalog=LocalServerDemo;User Id=sa;Password=yf@123;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
    <httpModules>
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" />
    </httpModules>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules>
      <remove name="ApplicationInsightsWebTracking" />
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" preCondition="managedHandler" />
    </modules>
  </system.webServer>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IEtermProxyerService" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://etermproxyer.jinri.org.cn/EtermProxyerService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IEtermProxyerService"
        contract="ProxyerService.IEtermProxyerService" name="BasicHttpBinding_IEtermProxyerService" />
    </client>
  </system.serviceModel>
</configuration>