<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
      <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IMarketplaceAPIService" closeTimeout="00:10:00" openTimeout="00:10:00" receiveTimeout="00:10:00" sendTimeout="00:10:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
             maxBufferSize="655360000" maxBufferPoolSize="5242880000" maxReceivedMessageSize="655360000" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
                    <security mode="Transport" />
                </binding>
                <binding name="BasicHttpBinding_IMarketplaceAPIService1" />
            </basicHttpBinding>
        </bindings>
      <client>
            <endpoint address="https://wsvc.cdiscount.com/MarketplaceAPIService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IMarketplaceAPIService"
                contract="CdiscountService.IMarketplaceAPIService" name="BasicHttpBinding_IMarketplaceAPIService" />
        </client>
    </system.serviceModel>
</configuration>